
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  {%- include head.html -%}
  <body>
    {%- include header.html -%}
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}">Home</a></li>
      <li><a href="{{ '/about' | relative_url }}">About</a></li>
      <li><a href="{{ '/projects' | relative_url }}">Projects</a></li>
      <li><a href="{{ '/redirect' | relative_url }}">External Site</a></li> <!-- This is the new link -->
    </ul>
  </nav>
</header>
        {{ content }}
      </div>
    </main>
    {%- include footer.html -%}
  </body>
</html>
